body {
  /* background-color: rgb(24, 23, 94); */
  /* background-color: white; */
  /* background-image: url(https://cutewallpaper.org/21/cool-background/Cool-Background-GIF-Gfycat.gif);
  background-size: 100%; */
  background-color: rgb(59, 49, 49);
}

.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
