#controlPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(24, 23, 94);
  border-radius: 10px 10px;
  margin: auto;
  margin-top: 10px;
}

#controlPanel button,
input,
label {
  margin: 10px 5px 10px 5px;
  color: orange;
  font-family: Oswald;
}

@font-face {
  font-family: Oswald;
  src: url(../Fonts/MochiyPopPOne-Regular.ttf);
}
#controlPanel button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px 5px;
  color: white;
  height: 40px;
}

#controlPanel button:enabled:hover {
  background-color: rgb(203, 209, 192);
}

#controlPanel button:enabled:active {
  background-color: rgb(123, 128, 116);
}

#controlPanel button:disabled {
  background-color: rgb(255, 255, 255);
}

.verticalLine {
  border-left: 3px solid orange;
  border-radius: 4px 4px;
  height: 30px;
  margin: 10px;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
