#controlPanel {
  display: flex;
  justify-content: center;
  margin: auto;
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 1;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(24, 23, 94);
  border-radius: 10px 10px;
  margin: 0 5px;
  padding: 0 15px 5px 5px;
  max-height: 29px;
  max-width: 220px;
  overflow: hidden;
  z-index: 2;
  transition: all 0.3s;
}

.panel:hover {
  max-height: 250px;
  max-width: 500px;
}

.panel button,
input,
label {
  margin: 5px 5px 0 5px;
  font-family: Oswald;
}

.input-box {
  margin: 5px 5px 0 5px;
  height: 25px;
}

.input-box input[type="range"] {
  width: 110px;
}

@font-face {
  font-family: Oswald;
  src: url(../Fonts/MochiyPopPOne-Regular.ttf);
}
.panel button {
  background-color: rgb(24, 23, 94);
  border: 1px solid white;
  border-radius: 10px 10px;
  color: white;
  min-height: 40px;
  transition: all 0.2s;

  min-width: 60px;
  width: 100%;
}

.panel button:enabled:hover {
  background-color: white;
  border-color: rgb(24, 23, 94);
  color: rgb(24, 23, 94);
  cursor: pointer;
}

.panel button:enabled:active {
  background-color: rgba(64, 63, 126, 0.356);
  border-color: rgb(107, 106, 206);
}

.panel button:disabled {
  border: 1px solid rgb(24, 23, 94);
  background-color: rgb(24, 23, 94);
  color: #666666;
  cursor: no-drop;
}

.panel-title {
  width: calc(100% - 15px);
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(24, 23, 94);
  transition: all 1.3s;
}

.inline-block * {
  margin: 0 2px;
  padding: 0;
}

.inline-block img {
  height: 30px;
  margin: 0 4px;
  width: auto;
}

.inline-block label {
  min-width: 140px;
  white-space: nowrap;
  margin-right: 15px;
}

.inline-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
